<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="logo.png">
    <link href="magic-mouse.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/welcomepage.css}">
    <title>About</title>
</head>
<body>
<div class="navigation">

    <div class="menu">
        <a th:href="@{'/'}">Home</a>
        <a th:href="@{'/about'}">About</a>
        <a th:href="@{'/register'}">Register</a>
        <a th:href="@{'/location'}">Add a location</a>
        <a th:href="@{'/findlocations'}">Find a location</a>
    </div>
    <div class="profile">
        <a th:href="@{'/login'}">Login</a>

    </div>
</div>
<div class="container-about">

    <div class="content">
        <h1>Extreme sports</h1>

        <p>Details about project</p>
    </div>


</div>

<div class="toggle">
    <input type="checkbox" class="checkbox" id="chk" />
    <label class="label" for="chk">
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
        <div class="ball"></div>
    </label>
</div>

<!-- DARK MODE -->
<script>
    const chk = document.getElementById('chk');

    chk.addEventListener('change', () => {
        document.documentElement.classList.toggle('dark-mode');

        document.querySelectorAll('.inverted').forEach((result) => {
            result.classList.toggle('invert');
        })
    });

</script>



</body>
</html>