<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="" th:href="@{/css/welcomepage.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{'/'}"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{'/'}">Home</a></li>
            <li><a th:href="@{'/virtual'}">Virtual Visit</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{'/register'}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a th:href="@{'/login'}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<div id="form" class="body2">
    <form action="/register/registersucces" th:action="@{'/register/registersucces'}" method="POST">
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name"><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>

        <label for="password">Repeat Password</label>
        <input type="password" id="repapssword" name="reppassword"><br>

        <button type="register">Register</button>
    </form>

</div>

</body>
</html>